body {
    margin: 0;
}

.container {
    padding: 20px;
    width: 100%;
    height: 100vh;
    background-color: #008080;
}

.window {
   width: 50%
}

@media only screen and (max-width: 600px) {
    .window {
      width: 100%;
    }
  }