body {
    margin: 0;
    background-color: hsl(180, 100%, 25%);

}

.container {
  margin: 20px;
  display: flex;
  position: relative;

}




@media only screen and (max-width: 600px) {
    .window {
      width: 100%;
      margin-bottom: 20px;
    }
    .container {
      flex-direction: column;
    }


  }